@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.625rem;
  --background: #171821;
  --foreground: #D6FAFA;
}

.gradinet-bd{
  background: #020024;
  background: radial-gradient(circle,rgba(2, 0, 36, 1) 0%, rgba(19, 19, 99, 1) 50%, rgba(2, 0, 36, 1) 100%);
}



